################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Domain/obj
/packages/Microsoft.Net.Compilers.1.3.2
/UnitTests/obj
